/*Generals*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*custom properties*/
:root {
    --dark: rgb(35, 39, 42);
    --blue: rgb(37, 94, 233);
    --light: rgb(246, 246, 246);
    --purple: rgb(116, 138, 219);
}

body {
    font-family: 'Whitney', sans-serif;
}

.debug {
    border: 1px solid red;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-light {
    background-color: var(--light);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-white {
    background-color: white;
}

.contrast {
    background-color: var(--purple);
}

.text-white {
    color: white;
}

.text-dark {
    color: var(--dark);
}

.text-light {
    color: var(--light);
}

.text-purple {
    color: var(--purple);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

ul {
    list-style: none;
}

.padding-top {
    padding: 25px;
}

.padding-bottom {
    padding-bottom: 80px;
}

.inline-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}


/*Utility flex*/

.flex-box {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

/*header*/

div ul li a {
    padding: 10px;
    text-decoration: none;
    color: white;
}
header div button {
    width: 70px;
    height: 30px;
    border-radius: 20px;
    border-style: none;
}


/*main*/

.width1 {
    width: 60%;
}

.width2 {
    width: 40%;
}

.container-small {
    max-width: 800px;
    margin: auto;
}

.content {
    max-width: 750px;
    margin: auto;
    text-align: center;
}

.button {
    border-radius: 40px;
    height: 40px;
    border-style: none;
    padding: 10px 5px;
    text-decoration: none;
}

#bt-scarica {
    background-color: var(--purple);
    color: white;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    border-style: none;
    text-decoration: none;
    text-align: center;
}

.bt-registrati {
    background-color: var(--purple);
    color: white;
    width: 80px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    border-style: none;
    text-decoration: none;
    text-align: center;
}

h1 {
    padding-bottom: 20px;
    font-size: 3em;
    font-weight: 510;
}

p {
    line-height: 30px;
    font-size: 1.3em;
}

.bg-image {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    height: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap {
    gap: 10px;
}

h3 {
    font-size: xx-large;
    width: 550px;
    padding-bottom: 60px;
    line-height: 10px;
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/*footer*/

.padding-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--purple);
}

footer section nav ul li {
    padding-bottom: 20px;
}

h4 {
    font-size: 2em;
    width: 250px;
}

.icon {
    padding-top: 20px;
    padding-right: 20px;
}

#Language {
    background-color: var(--dark);
    color: white;
    margin-top: 20px;
}

/*Bonus*/

.wave {
    height: 100px;
    width: 100%;
    background-image: url('../img/wave.svg');
    opacity: 0.03;
}

#wave-light {
    height: 100px;
    width: 100%;
    background-image: url('../img/wave.svg');
    background-color: var(--light);
    opacity: 0.03;
    transform: rotate(180deg);
}

header nav div ul li a:hover {
    text-decoration: underline;
}

header nav div>a:hover {
    color: var(--purple)
}